---
http_interactions:
- request:
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIX2FSICCF6LXY4VA&AssociateTag=associate_tag&IdType=UPC&ItemId=711719817628&Operation=ItemLookup&ResponseGroup=ItemAttributes,Offers,Images&SearchIndex=VideoGames&Signature=kc9tcsJT8AlK7LjV7e9fxWvmFTcwJIwaTTRsRfebBnQ=&Timestamp=2013-12-30T11:55:49Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>268b604e-c184-4def-9f1e-e26c29427dc6</RequestId><Arguments><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="Signature"
        Value="kc9tcsJT8AlK7LjV7e9fxWvmFTcwJIwaTTRsRfebBnQ="></Argument><Argument
        Name="AssociateTag" Value="associate_tag"></Argument><Argument Name="ItemId"
        Value="711719817628"></Argument><Argument Name="IdType" Value="UPC"></Argument><Argument
        Name="AWSAccessKeyId" Value="AKIAIX2FSICCF6LXY4VA"></Argument><Argument Name="Timestamp"
        Value="2013-12-30T11:55:49Z"></Argument><Argument Name="ResponseGroup" Value="ItemAttributes,Offers,Images"></Argument><Argument
        Name="SearchIndex" Value="VideoGames"></Argument><Argument Name="Service"
        Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.0348270000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>711719817628</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Offers</ResponseGroup><ResponseGroup>Images</ResponseGroup><SearchIndex>VideoGames</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B003O6E67A</ASIN><ParentASIN>B0055Q175G</ParentASIN><DetailPageURL>http://www.amazon.com/Resistance-3-Playstation/dp/B003O6E67A%3FSubscriptionId%3DAKIAIX2FSICCF6LXY4VA%26tag%3Dassociate_tag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB003O6E67A</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Resistance-3-Playstation/dp/tech-data/B003O6E67A%3FSubscriptionId%3DAKIAIX2FSICCF6LXY4VA%26tag%3Dassociate_tag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB003O6E67A</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB003O6E67A%26SubscriptionId%3DAKIAIX2FSICCF6LXY4VA%26tag%3Dassociate_tag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN[...]
