---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?IncludeSelector=Details&ProductID.Value=711719817628&ProductID.type=UPC&appid=KirillLe-cf21-4352-b4a0-2dd677a4021e&callname=FindProducts&responseencoding=JSON&siteid=0&version=793
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Last-Modified:
      - Tue, 17 Sep 2013 12:15:48 GMT
      X-Ebay-Api-Build-Tag:
      - E839_CORE_APILW2_16349230_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dm97MmQ3MWYrPzBgPygyNSg/NSs3MjUrNzE2Pz43OzU=
      X-Ebay-Esb-Guid:
      - urn:uuid:493E493A5C397A1AA028497176029384197406113106
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2013-09-17T12:15:48.953Z","Ack":"Success","Build":"E839_CORE_APILW2_16349230_R1","Version":"839","ApproximatePages":1,"MoreResults":false,"ItemArray":{"Item":[{"BestOfferEnabled":false,"ItemID":"310744576174","EndTime":"2013-09-17T13:37:47.000Z","StartTime":"2013-09-12T13:38:48.000Z","ViewItemURLForNaturalSearch":"http://www.ebay.com/itm/Resistance-3-ps3-disc-only-/310744576174","ListingType":"Chinese","PaymentMethods":["PayPal"],"GalleryURL":"http://thumbs3.ebaystatic.com/pict/3107445761748080_1.jpg","PostalCode":"78416","PrimaryCategoryID":"139973","PrimaryCategoryName":"Video
        Games & Consoles:Video Games","BidCount":0,"ConvertedCurrentPrice":{"Value":0.99,"CurrencyID":"USD"},"CurrentPrice":{"Value":0.99,"CurrencyID":"USD"},"ListingStatus":"Active","ShipToLocations":["US","CA","GB","AU","AT","BE","FR","DE","IT","JP","ES","TW","NL","CN","HK","DK","RO","SK","BG","CZ","FI","HU","LV","LT","MT","EE","GR","PT","CY","SI","SE","KR","ZA","TH","IE","PL"],"Site":"US","TimeLeft":"PT1H21M59S","Title":"Resistance
        3 ps3 disc only","ShippingCostSummary":{"ShippingServiceCost":{"Value":4.0,"CurrencyID":"USD"},"ShippingType":"FlatDomesticCalculatedInternational","ListedShippingServiceCost":{"Value":4.0,"CurrencyID":"USD"}},"Country":"US","ProductID":{"Value":"78694839","Type":"Reference"},"PaymentAllowedSite":[],"IntegratedMerchantCreditCardEnabled":false,"NewBestOffer":false},{"BestOfferEnabled":false,"ItemID":"251322148629","EndTime":"2013-09-17T14:26:44.000Z","StartTime":"2013-08-18T14:22:45.000Z","ViewItemURLForNaturalSearch":"http://www.ebay.com/itm/Resistance-3-Sony-Playstation-3-2011-/251322148629","ListingType":"FixedPriceItem","PaymentMethods":["PayPal"],"GalleryURL":"http://thumbs2.ebaystatic.com/pict/2513221486298080_2.jpg","PostalCode":"07646","PrimaryCategoryID":"139973","PrimaryCategoryName":"Video
        Games & Consoles:Video Games","BidCount":[...]
