---
http_interactions:
- request:
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIX2FSICCF6LXY4VA&AssociateTag=associate_tag&IdType=UPC&ItemId=111111111111&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Offers&SearchIndex=All&Signature=CKI1FrYgQdB/Xui1/jpGgZviHu/0Ka1Fm2t5vXEj50g=&Timestamp=2013-09-02T18:34:08Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>5ff61f5e-cd23-4ea6-9c64-7a22a39f6ee2</RequestId><Arguments><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="AssociateTag"
        Value="associate_tag"></Argument><Argument Name="SearchIndex" Value="All"></Argument><Argument
        Name="Signature" Value="CKI1FrYgQdB/Xui1/jpGgZviHu/0Ka1Fm2t5vXEj50g="></Argument><Argument
        Name="ItemId" Value="111111111111"></Argument><Argument Name="IdType" Value="UPC"></Argument><Argument
        Name="AWSAccessKeyId" Value="AKIAIX2FSICCF6LXY4VA"></Argument><Argument Name="Timestamp"
        Value="2013-09-02T18:34:08Z"></Argument><Argument Name="ResponseGroup" Value="ItemAttributes,Images,Offers"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.0452210000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>111111111111</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>All</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest><Errors><Error><Code>AWS.InvalidParameterValue</Code><Message>111111111111
        is not a valid value for ItemId. Please change this value and retry your request.</Message></Error></Errors></Request></Items></ItemLookupResponse>
  recorded_at: Mon, 02 Sep 2013 18:34:09 GMT
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?IncludeSelector=Details&ProductID.Value=111111111111&ProductID.type=UPC&appid=KirillLe-cf21-4352-b4a0-2dd677a4021e&callname=FindProducts&responseencoding=JSON&siteid=0&version=793
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Last-Modified:
      - Mon, 02 Sep 2013 18:34:10 GMT
      X-Ebay-Api-Build-Tag:
      - E837_CORE_APILW2_16317142_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dWtgMWQ3MmYrYjM0YigyNSg+Nys3NTErNzc0Pz43OzU=
      X-Ebay-Esb-Guid:
      - urn:uuid:FF1FB332949A2220AB46476151962853399-59557915
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2013-09-02T18:34:10.066Z","Ack":"Failure","Errors":[{"ShortMessage":"No
        match found.","LongMessage":"No match found for your query. Please specify
        a broader query.","ErrorCode":"10.20","SeverityCode":"Error","ErrorParameters":[{"Value":"totalNumMatchingProducts
        is zero","ParamID":"0"}],"ErrorClassification":"RequestError"}],"Build":"E837_CORE_APILW2_16317142_R1","Version":"837"}'
  recorded_at: Mon, 02 Sep 2013 18:34:10 GMT
recorded_with: VCR 2.5.0
