---
http_interactions:
- request:
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIX2FSICCF6LXY4VA&AssociateTag=associate_tag&IdType=UPC&ItemId=111111111111&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Offers&SearchIndex=All&Signature=90kQ3qEFHwdWJ8jpx9lIHM23UEHN5E1QNIzZ8LJqDYc=&Timestamp=2013-12-30T11:55:42Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>e24c9b91-4701-4547-9e4b-f4d26f026e3e</RequestId><Arguments><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="Signature"
        Value="90kQ3qEFHwdWJ8jpx9lIHM23UEHN5E1QNIzZ8LJqDYc="></Argument><Argument
        Name="AssociateTag" Value="associate_tag"></Argument><Argument Name="ItemId"
        Value="111111111111"></Argument><Argument Name="IdType" Value="UPC"></Argument><Argument
        Name="AWSAccessKeyId" Value="AKIAIX2FSICCF6LXY4VA"></Argument><Argument Name="Timestamp"
        Value="2013-12-30T11:55:42Z"></Argument><Argument Name="ResponseGroup" Value="ItemAttributes,Images,Offers"></Argument><Argument
        Name="SearchIndex" Value="All"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.0317880000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>111111111111</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>All</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest><Errors><Error><Code>AWS.InvalidParameterValue</Code><Message>111111111111
        is not a valid value for ItemId. Please change this value and retry your request.</Message></Error></Errors></Request></Items></ItemLookupResponse>
  recorded_at: Mon, 30 Dec 2013 11:55:43 GMT
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?IncludeSelector=Details&ProductID.Value=111111111111&ProductID.type=UPC&appid=KirillLe-cf21-4352-b4a0-2dd677a4021e&callname=FindProducts&responseencoding=JSON&siteid=0&version=793
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Guid:
      - 143435c1-4040-a620-4fd1-ce91f8f0fe64
      Last-Modified:
      - Mon, 30 Dec 2013 11:55:44 GMT
      X-Ebay-Api-Build-Tag:
      - E849_CORE_APILW2_16526615_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dm97MmQ3MWYrYzQ2NCgyNSg/NSs3MzcrNzc0Pz43OzU=
      X-Ebay-Request-Id:
      - 143435c1-4040-a620-4fd1-ce91f8f0fe64!shopping!10.98.4.253!esbshopping[]
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2013-12-30T11:55:44.573Z","Ack":"Failure","Errors":[{"ShortMessage":"No
        match found.","LongMessage":"No match found for your query. Please specify
        a broader query.","ErrorCode":"10.20","SeverityCode":"Error","ErrorParameters":[{"Value":"totalNumMatchingProducts
        is zero","ParamID":"0"}],"ErrorClassification":"RequestError"}],"Build":"E849_CORE_APILW2_16526615_R1","Version":"849"}'
  recorded_at: Mon, 30 Dec 2013 11:55:44 GMT
recorded_with: VCR 2.5.0
