---
http_interactions:
- request:
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIX2FSICCF6LXY4VA&AssociateTag=associate_tag&IdType=UPC&ItemId=711719817628&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Offers&SearchIndex=All&Signature=Pg/biaJ1u4YMZ0pYLRttUCKUMj71veqhsrGoiO7f9qc=&Timestamp=2013-09-02T18:34:10Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>3ea905ad-9192-4842-8c42-62f2cca8f6fb</RequestId><Arguments><Argument
        Name="Timestamp" Value="2013-09-02T18:34:10Z"></Argument><Argument Name="Operation"
        Value="ItemLookup"></Argument><Argument Name="AssociateTag" Value="associate_tag"></Argument><Argument
        Name="SearchIndex" Value="All"></Argument><Argument Name="Signature" Value="Pg/biaJ1u4YMZ0pYLRttUCKUMj71veqhsrGoiO7f9qc="></Argument><Argument
        Name="ItemId" Value="711719817628"></Argument><Argument Name="IdType" Value="UPC"></Argument><Argument
        Name="AWSAccessKeyId" Value="AKIAIX2FSICCF6LXY4VA"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Offers"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.0482600000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>UPC</IdType><ItemId>711719817628</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Offers</ResponseGroup><SearchIndex>All</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B003O6E67A</ASIN><ParentASIN>B0055Q175G</ParentASIN><DetailPageURL>http://www.amazon.com/Resistance-3-Playstation/dp/B003O6E67A%3FSubscriptionId%3DAKIAIX2FSICCF6LXY4VA%26tag%3Dassociate_tag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB003O6E67A</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Resistance-3-Playstation/dp/tech-data/B003O6E67A%3FSubscriptionId%3DAKIAIX2FSICCF6LXY4VA%26tag%3Dassociate_tag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB003O6E67A</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB003O6E67A%26SubscriptionId%3DAKIAIX2FSICCF6LXY4VA%26tag%3Dassociate_tag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN[...]
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?IncludeSelector=Details&ProductID.Value=711719817628&ProductID.type=UPC&appid=KirillLe-cf21-4352-b4a0-2dd677a4021e&callname=FindProducts&responseencoding=JSON&siteid=0&version=793
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Last-Modified:
      - Mon, 02 Sep 2013 18:34:11 GMT
      X-Ebay-Api-Build-Tag:
      - E837_CORE_APILW2_16317142_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dWtgMWQ3MmYrMzM3ZCgyNSg+Nys0MS00MTA5PTY/Mw==
      X-Ebay-Esb-Guid:
      - urn:uuid:urn:uuid:6EAE75254E33BD92A246475750103663868-1300334978
    body:
      encoding: UTF-8
      string: '{"Timestamp":"2013-09-02T18:34:11.424Z","Ack":"Success","Build":"E837_CORE_APILW2_16317142_R1","Version":"837","ApproximatePages":1,"MoreResults":false,"ItemArray":{"Item":[{"BestOfferEnabled":false,"BuyItNowPrice":{"Value":19.99,"CurrencyID":"USD"},"ItemID":"200957188083","BuyItNowAvailable":true,"ConvertedBuyItNowPrice":{"Value":19.99,"CurrencyID":"USD"},"EndTime":"2013-09-02T20:32:36.000Z","StartTime":"2013-08-26T20:33:37.000Z","ViewItemURLForNaturalSearch":"http://www.ebay.com/itm/Resistance-3-Sony-Playstation-3-2011-/200957188083","ListingType":"Chinese","PaymentMethods":["PayPal"],"GalleryURL":"http://thumbs4.ebaystatic.com/pict/2009571880838080_1.jpg","PostalCode":"21222","PrimaryCategoryID":"139973","PrimaryCategoryName":"Video
        Games & Consoles:Video Games","BidCount":0,"ConvertedCurrentPrice":{"Value":7.99,"CurrencyID":"USD"},"CurrentPrice":{"Value":7.99,"CurrencyID":"USD"},"ListingStatus":"Active","ShipToLocations":["US","CA","GB","AU","AT","BE","FR","DE","IT","JP","ES","TW","NL","CN","HK","DK","RO","SK","BG","CZ","FI","HU","LV","LT","MT","EE","GR","PT","CY","SI","SE","KR","ZA","TH","IE","PL"],"Site":"US","TimeLeft":"PT1H58M25S","Title":"Resistance
        3  (Sony Playstation 3, 2011)","ShippingCostSummary":{"ShippingServiceCost":{"Value":2.58,"CurrencyID":"USD"},"ShippingType":"Calculated","ListedShippingServiceCost":{"Value":2.58,"CurrencyID":"USD"}},"Country":"US","ProductID":{"Value":"78694839","Type":"Reference"},"PaymentAllowedSite":[],"IntegratedMerchantCreditCardEnabled":false,"NewBestOffer":false},{"BestOfferEnabled":false,"BuyItNowPrice":{"Value":12.0,"CurrencyID":"USD"},"ItemID":"300957400156","BuyItNowAvailable":true,"ConvertedBuyItNowPrice":{"Value":12.0,"CurrencyID":"USD"},"EndTime":"2013-09-02T21:49:12.000Z","StartTime":"2013-08-30T21:49:12.000Z","ViewItemURLForNaturalSearch":"http://www.ebay.com/itm/Resistance-3-Sony-Playstation-3-2011-/300957400156","ListingType":"Chinese","PaymentMethods":["PayPal"],"GalleryURL":"http://thumbs1.ebaystatic.com/pict/3009574001568080_1.jpg","[...]
- request:
    method: get
    uri: http://www.metacritic.com/search/game/Resistance+3/results?plats%5B0%5D=1&search_type=advanced
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\"\n   \"http://www.w3.org/TR/html4/strict.dtd\">\n<html
        xmlns:og=\"http://opengraphprotocol.org/schema/\"\n      xmlns:fb=\"http://ogp.me/ns/fb#\">\n<head>\n
        \       \t<script type=\"text/javascript\">var NREUMQ=NREUMQ||[];NREUMQ.push([\"mark\",\"firstbyte\",new
        Date().getTime()]);</script>\n<title>Advanced Search Results for Resistance
        3 at Metacritic - Metacritic</title>\n\t\n    \n    \n    <meta http-equiv=\"content-type\"
        content=\"text/html; charset=UTF-8\">\n\n    \n    <meta name=\"description\"
        content=\"Advanced search results for Resistance 3 at Metacritic.com\">\n\n
        \   \n    \n    <meta name=\"viewport\" content=\"width=1024\" />\n\n\n    \n
        \   <meta  name=\"robots\" content=\"NOINDEX, FOLLOW\">\n\n\n    \n    <meta
        name=\"application-name\" content=\"Metacritic\"/>\n    <meta name=\"msapplication-TileColor\"
        content=\"#000000\"/>\n    <meta name=\"msapplication-TileImage\" content=\"/images/win8tile/76bf1426-2886-4b87-ae1c-06424b6bb8a2.png\"/>\n\n
        \   \n    \n    \n    <meta id=\"siteAdsPageParams\" content=\"{'service':'madison','client':'mantaray','params':{'SITE':50,'BRAND':21,'NCAT':'1','NODE':'1','PTYPE':'6056','PGUID':'5224da28c892e','STAGING':0},'localPage':'\\/\\/www.metacritic.com\\/static\\/adframes\\/mantaray\\/MantaRay_LocalPage.html','script':'http:\\/\\/i.i.cbsi.com\\/cnwk.1d\\/Ads\\/common\\/manta\\/adFunctionsD-metacritic.js'}\"
        />\n\n    \n    \n    <link rel=\"stylesheet\" href=\"/css/global.min.1377816691.css\"
        type=\"text/css\">\n<link rel=\"stylesheet\" href=\"/css/search/base.min.1377816609.css\"
        type=\"text/css\">\n\n\n    \n        \n    \n\t\t\t\n\t\t\t\t    \n\n    \n
        \   \n    <script type=\"text/javascript\" src=\"/js/global.min.1377816691.js\"></script>\n\n
        \           <script src= \"http://i.i.cbsi.com/cnwk.1d/Ads/common/manta/adFunctionsD-metacritic.js\"></script>\n
        \       <script>\n    \tvar[...]
- request:
    method: get
    uri: http://www.metacritic.com/game/playstation-3/resistance-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWwgUFVCTElDICItLy9XM0MvL0RURCBIVE1MIDQuMDEv
        L0VOIgogICAiaHR0cDovL3d3dy53My5vcmcvVFIvaHRtbDQvc3RyaWN0LmR0
        ZCI+Cjxod[...]
